<div class="col-xs-3">
  <p>This is a list with ElementRef</p>
  <ul
    class="block-list"
  >
  <!--
    The list item is called in here via it's selector
   -->
    <list-item></list-item>
  </ul>
  <p class="small">This list uses ElementRef and HostListener to utilize some styling on the DOM</p><!-- /.small -->
</div><!-- /.col-xs-3 -->
