<!--
  Since the List Item is populated dynamically if you just add the class toggle without using an index
  You will have the whole list controlled by that boolean
-->

<div class="col-xs-6">
  <p>This is a pannel with a class toggle by boolean</p>

  <ul class="block-list">
    <li
      class="block-list__list-item"
      *ngFor="let item of items"
      (click)="showContent = !showContent"
    >
    {{ item }}
    <div
      class="list-pannel"
      [ngClass]="{'show': showContent}"
    >
      <p class="list-pannel__content">Test</p>
    </div>
    </li>
  </ul>
</div><!-- /.col-xs-6 -->

<!--
  In order to just toggle one 'pannel' you will have a to add a little code to get the index of what was
  clicked and use that to toggle _only_ that pannel
 -->

<div class="col-xs-6">
    <p>This is a pannel with a class toggle by boolean</p>

    <ul class="block-list">
      <li
        class="block-list__list-item"
        *ngFor="let item of items; let i = index"
        (click)="showContentTwo[i] = !showContentTwo[i]"
      >
      {{ item }}
      <div
        class="list-pannel"
        [ngClass]="{ 'show': showContentTwo[i] }"
      >
        <p class="list-pannel__content">Test (index: {{ i }})</p>
      </div>
      </li>
    </ul>
  </div><!-- /.col-xs-6 -->
