.block-list {
  list-style-type: none;
  padding: 0;
  &__list-item {
    display: block;
    cursor: pointer;
    margin: 0;
    border: 1px solid #e0e0e0;
    max-width: 250px;
    padding: 20px;
  }
}

.list-pannel {
  height: 0;
  overflow: hidden;
  transition: height 500ms ease;
  &.show {
    height: 100px;
    transition: height 500ms ease;
  }
}
