<div>
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    [(ngModel)]="formInstance.name"
  >
  <!-- <span>{{formInstance.name}}</span> -->

  <label for="age">Age</label>
  <input
    type="text"
    name="age"
    [(ngModel)]="formInstance.age"
  >
  <!-- <span>{{formInstance.age}}</span> -->

  <label for="favFood">Favourite Food</label>
  <input
    type="text"
    name="favFood"
    [(ngModel)]="formInstance.favFood"
  >
  <!-- <span>{{formInstance.favFood}}</span> -->

  <button (click)="onSubmit()">Submit Info</button>
</div>

<br>
<br>
<br>
<br>

<div>
  <h2>Table</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Favourite Food</th>
    </tr>
    <tr *ngFor="let info of formInfo; let i = index">
      <td>{{formInfo[i].name}}</td>
      <td>{{formInfo[i].age}}</td>
      <td>{{formInfo[i].favFood}}</td>
    </tr>
  </table>

</div>
