<!-- <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="field1">
  <input type="text" formControlName="field2">
  <input type="text" formControlName="field3">
  <button type="submit">Submit</button>
</form>
<table>
  <tbody>
    <tr *ngFor="let val of formTable">
      <td>{{val.field1}}</td>
      <td>{{val.field2}}</td>
      <td>{{val.field3}}</td>
    </tr>
  </tbody>

  <pre>{{myForm.value | json}}</pre>
</table> -->
