<div class="container">

  <br>
  <br>
  <br>


  <!--
    *** This option uses ElementRef and HostListener by using a directive with an
        attribute selector
   -->
  <!-- <div class="row">
    <test-one></test-one>
  </div> -->


  <!--
    *** This simply uses a boolean value to toggle the `.show` class on the clicked element
   -->
  <!-- <div class="row">
    <class-toggle></class-toggle>
  </div> -->

  <!--
    *** This option uses ElementRef and Renderer2 to access DOM elements
        (this one also doesn't make a whole hell of a lot of sense currently)
   -->
  <!-- <div class="row">
    <rend-el></rend-el>
  </div> -->

  <!--
    *** This definitely gives a better idea of how to use Renderer2 and ElementRen
        in a real world scenario
   -->
  <!-- <div class="row">
    <custom-test></custom-test>
  </div> -->

  <!--
    *** There is most likely a better way to handle the event on this one, but it passes
        the event from the component to the methods in the directive using @ViewChild to
        access those methods. The info is evaluated and elements are manipulated from
        there as well. This directive could most likely use Renderer2 or ElementRef too
   -->
  <!-- <div class="row">
    <input-test></input-test>
  </div> -->


  <div class="row">
    <obj-push></obj-push>
  </div><!-- /.row -->




</div><!-- /.container -->
