.block-list__list-item {
  display: block;
  cursor: pointer;
  margin: 0;
  border: 1px solid #e0e0e0;
  max-width: 250px;
  padding: 20px;
  transition: transform 200ms ease;
  &.test {
    transform: scale(1.1);
    transition: transform 500ms ease;
  }
}
