<button class="rend-el__button"
  rendElRef
>
Button Text
</button><!-- /.rend-el__button -->

<br>

<input rendElRef type="text" name="testInput">

<p otherDirective>This is attached to another directive</p>
