<div class="col-xs-6">
    <div appInput class="uni-input">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
      >
      <span class="uni-validation"></span><!-- /.uni-validation -->
      <div class="uni-input__underline"></div><!-- /.uni-input__underline -->
    </div><!-- /.uni-input -->
  </div><!-- /.col-xs-6 -->

  <div class="col-xs-6">
    <div appInput class="uni-input">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
      >
      <span class="uni-validation"></span><!-- /.uni-validation -->
      <div class="uni-input__underline"></div><!-- /.uni-input__underline -->
    </div><!-- /.uni-input -->
  </div><!-- /.col-xs-6 -->
