/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // Not needed but nice anyhow
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .5px;
}
