<div class="col-xs-6">
  <div class="uni-input">
    <label for="name">Name</label>
    <input customDirective type="text" id="name" name="name">
    <span class="uni-validation"></span><!-- /.uni-validation -->
    <div class="uni-input__underline"></div><!-- /.uni-input__underline -->
  </div><!-- /.uni-input -->
</div><!-- /.col-xs-6 -->

<div class="col-xs-6">
  <div class="uni-input">
    <label for="email">Email</label>
    <input customDirective type="text" name="email" id="email">
    <div class="uni-validation"></div><!-- /.uni-validation -->
    <div class="uni-input__underline"></div><!-- /.uni-input__underline -->
  </div><!-- /.uni-input -->
</div><!-- /.col-xs-6 -->
